- name: Deploy nginx
  hosts: webservers
  become: yes
  become_method: sudo
  remote_user: runner

  tasks:
    - name: Install nginx
      ansible.builtin.apt:
        name: nginx
        state: latest
        update_cache: yes

    - name: Copy index
      ansible.builtin.copy:
        src: ./index.html
        dest: /var/www/html/index.html
        owner: root
        group: root
        mode: '0666'
